.title {
  color: blue;
}

.pregunta {
  color: rgb(204, 184, 97);
}

.opcion-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.5rem;
}

.btn-verificar {
  background-color: #6e92f5;
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
}